<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/EditValidation.css}" rel="stylesheet" type="text/css">
<script type="text/javascript" th:src="@{/js/EditValidation.js}"></script>
<title>Insert title here</title>
</head>
<body>
	<p>ユーザー編集</p>
	<form id="form" action="/users/edit" th:action="@{/users/edit}"
		th:object="${form}" method="POST">

		<!--  <label th:text="${message}" style="color: red"></label><br>
		<label th:each="error : ${#fields.detailedErrors()}"> <q
			th:text="${error.message}" style="color: red"></q><br></label>
			-->

		<!-- ログインID -->
		<label for="login_id">ログインID</label> <input id="login_id" type="text"
			name="login_id" th:field="*{login_id}" /> <span
			id="login1-error-message">6文字から20文字で入力して下さい</span> <span
			id="login2-error-message">半角英数字のみ有効です</span> <br>

		<!-- 名前 -->
		<label for="name">お名前</label> <input id="name" type="text" name="name"
			th:field="*{name}" /> <span id="name1-error-message">10文字以下名前を入力してください</span>
		<span id="name2-error-message">名前を入力してください</span> <br>

		<!-- パスワード -->
		<label for="password">パスワード</label> <input id="password"
			type="password" name="password" th:field="*{password}" /> <span
			id="password1-error-message">6文字から20文字で入力して下さい</span> <span
			id="password2-error-message">半角英数字のみ有効です</span> <span
			id="password3-error-message">パスワードと確認用パスワードが一致しません</span> <br>

		<!-- 確認パスワード -->
		<label for="RePassword">確認パスワード</label> <input id="repassword"
			type="password" name="RePassword" th:field="*{RePassword}" /> <span
			id="repassword1-error-message">6文字から20文字で入力して下さい</span> <span
			id="repassword2-error-message">半角英数字のみ有効です</span> <br>

		<!-- 支店 -->
		<label for="branch">支店</label> <select name="branch_id" id="branch_id">
			<option th:each="br: ${branches}" th:value="${br.id}"
				th:selected="${br.id == form.branch_id}" th:inline="text">[[${br.branch_name}]]</option>
		</select><br>

		<!-- 部署役職 -->
		<label for="department_position_id">部署・役職</label> <select
			name="department_position_id" id="department_position_id">
			<option th:each="depo: ${departmentsPositions}" th:value="${depo.id}"
				th:selected="${depo.id == form.department_position_id}"
				th:inline="text">[[${depo.department_position_name}]]</option>
		</select><br> <input type="hidden" name="id" th:field="*{id}">

		<div>
			<input onclick="return editCheck()" type="submit" value="編集">
		</div>
		<br> <a href="/users">戻る</a>
	</form>
</body>
</html>