

/* エラーメッセージの非表示 */
#name1-error-message {
	color:red;
	display: none;
}

#name2-error-message {
	color:red;
	display: none;
}


#password1-error-message {
	color:red;
	display: none;
}

#password2-error-message {
	color:red;
	display: none;
}

#password3-error-message {
	color:red;
	display: none;
}

#repassword1-error-message {
	color:red;
	display: none;
}

#repassword2-error-message {
	color:red;
	display: none;
}

#login1-error-message {
	color:red;
	display: none;
}

#login2-error-message {
	color:red;
	display: none;
}